.navbar {
  max-width: 100rem;
  padding: 1.25rem;
  margin: 0 auto;

 &>ul{
   display: flex;
   justify-content: space-between;
   align-items: end;
   gap: 12px;
   .links {
     display: flex;
     gap: 12px;
     width: 300px;
     justify-content: space-between;

   }
   .social {
     display: flex;
     width: 170px;
     gap: 16px;
     justify-content: end;
   }
   li {
     list-style: none;
     a{
       transition: font-weight 0.2s;
     }
     a:hover{
       font-weight: bold;
     }
   }
 }

}

.logo{
  display: flex;
  align-items: center;
  h1{
    color: #242424;
  }
  img{
    width: 32px;
    height: 32px;
  }
}

